/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    /* background: no-repeat url(./back.jpg); */
}


/* Navigation Bar */
header{
    background-color: #161a1d;
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    /* position: fixed; */
}
header #logo{
    color: #ba181b;
    margin-top: 5px;
    /* border: 2px solid #ba181b; */
}
header #logo:hover{
    /* color: #d3d3d3; */
    cursor: pointer;
}
header ul li a{
    text-decoration: none;
    color: #ba181b;
}
header ul li a:hover{
    color: #d3d3d3;
}
header ul li{
    display: inline-block;
    margin: 10px;
}
#contact-btn{
    padding: 10px;
    font-size: 10px;
    border: none;
    /* border-radius: 25px; */
    color: #161a1d;
    background-color: rgb(186, 24, 27);
    font-weight: bolder;
    letter-spacing: 1px;
    height: 29px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    width: 110px;
    text-align: center;
}

#contact-btn:hover{
    cursor: pointer;
    color: #d3d3d3;
    background-color: #a4161a;
}

#contact-btn a{
    text-decoration: none;
    color: #161a1d;
}

/* Clear Div */
.clear{
    clear: both;
}

/* About Me Block */
#about-me{
    height: 420px;
    width: auto;
    margin:0 auto;
    background-color: #d3d3d3;
}

#the-abt{
    height: 350px;
    width: 1200px;
    margin: 0 auto;
    padding-left: 100px;
    padding-top: 35px;
}

#about-me h1{
    color: #ba181b;
    /* text-decoration: underline; */
}

#about-me h1:hover{
    /* color: #ba181b; */
    text-decoration: underline;
}

#content{
    font-size: 1.3rem;
    width: 250px;
    line-height: 1.5;
    height: 380px;
    padding: 10px;
    float: left;
    margin-left: 0px;
}

article{
    width: 600px;
}

#image-div{
    height: 250px;
    width: 250px;
    /* background-color: #ba181b; */
    float: right;
    border: none;
    border-radius: 50%;
    margin: 25px 100px 23px 0px;
}

#image{
    height: 250px;
    width: 250px;
    background: url(../images/me.jpg);
    align-items: center;
    background-size: 100%;
    background-position: bottom;
    transition: 1s;
    border-radius: 50%;
    cursor: zoom-in;
}
#image:hover{
    background-size: 150%;
}

/* Projects Tab */
#projects{
    box-sizing:content-box;
    background-color: #161a1d;
    height: 450px;
    width: auto;
    position: relative;
    top: -40px;
}

#projects-div{
    /* background-color: antiquewhite; */
    height: 350px;
    width: 1200px;
    margin: 0 auto;
    padding-left: 100px;
    padding-top: 35px;
}

#project-text{
    font-size: 2.8rem;
    color: #ba181b;
    /* text-decoration: underline; */
}

#project-text:hover{
    /* font-size: 2.8rem;
    color: #ba181b; */
    text-decoration: underline;
}

details{
    margin: 35px;
    color: #d3d3d3;
    cursor: pointer;
}

summary{
    font-weight: bolder;
    font-size: 1.2rem;
}

p{
    margin-top: 5px;
    color: #ba181b;
}

/* Skills Tab */
#skills-tab{
    background-color: #f5f3f4;
    height: 750px;
    width: auto;
    position: relative;
    top: -40px;
}

#skills-inner-tab{
    width: 1200px;
    margin: 0 auto;
    /* background-color: #161a1d; */
    height: 450px;
    padding-top: 35px;
    padding-left: 100px;
}

#skills-heading{
    color: #161a1d;
    font-size: 2.8rem;
}

#skills-heading:hover{
    text-decoration: underline;
}

#skills-div-container{
    display: flex;
    margin-top: 30px;
    height: 350px;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skills-div{
    height: 250px;
    width: 250px;
    margin: 20px;
    /* padding: 50px; */
    border: 5px solid #161a1d;
    background-color: #b1a7a6;
}

.skills-div:hover{
    border: 5px solid rgb(190, 24, 27);;
}

.skill-text{
    font-family: 'Fugaz One', cursive;
    text-align: center;
    position: relative;
    top: 90px;
    font-size: 50px;
    color: #161a1d;
}

.skill-text:hover{
    color: rgb(190, 24, 27);
    /* text-decoration: underline; */
}

/* Footer */
footer{
    background-color: #161a1d;
    height: 150px;
    width: auto;
    position: relative;
    top: -40px;
}

#follow{
    float: left;
    width: 250px;
    height: 30px;
    padding: 35px;
}

#follow-me-text{
    color: #f5f3f4;
}

.icons{
    padding: 5px;
    height: 35px;
    width: 35px;
}

#mail-me{
    width: 150px;
    height: 30px;
    float: left;
    margin: 35px;
}

#mail-me-text{
    color: #f5f3f4;
}

#email{
    text-decoration: none;
    color: #ba181b;
}

#call-me{
    float: left;
    margin: 35px;
}

#call-me-text{
    color: #f5f3f4;
}

#overview{
    color: #f5f3f4;
}

#call-back{
    float: left;
    margin: 35px;
    width: 300px;
    height: 35px;
}

#call-back a{
    color: #ba181b;
    text-decoration: none;
}

#call-back a:hover{
    /* color: #ba181b; */
    text-decoration: underline;
}